name: Check for new versions of child chains

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  check-version:
    runs-on: ubuntu-latest
    if: github.repository == 'overline-mining/gool'

    steps:
      - uses: actions/checkout@v2
      - name: Check latest versions of the child chain nodes
        run: |
          # bitcoin
          BTC_VERSION=$(curl -s https://api.github.com/repos/bitcoin/bitcoin/releases/latest | grep "tag_name" | awk '{print substr($2, 3, length($2)-4)}')
          echo bitcoin-core=${BTC_VERSION}
          sed -i "s/BTCD_VERSION=.*/BTCD_VERSION=${BTC_VERSION}/" docker/Dockerfile.bitcoin-core
          # ethereum
          ETH_VERSION=$(curl -s https://api.github.com/repos/ethereum/go-ethereum/releases/latest | grep "tag_name" | awk '{print substr($2, 3, length($2)-4)}')
          ETH_SHA=$(curl -s https://api.github.com/repos/ethereum/go-ethereum/git/ref/tags/v${ETH_VERSION} | grep "sha" | awk '{print substr($2, 2, 8)}')
          echo geth=${ETH_VERSION}-${ETH_SHA}
          sed -i "s/GETH_VERSION=.*/GETH_VERSION=${ETH_VERSION}-${ETH_SHA}/" docker/Dockerfile.geth
          # neo
          NEO2_VERSION=$(curl -s https://api.github.com/repos/neo-project/neo-node/releases | grep "tag_name" | grep "v2" | head -1 | awk '{print substr($2, 3, length($2)-4)}')
          echo neo2=${NEO2_VERSION}
          sed -i "s/NEO_VERSION=\".*/NEO_VERSION=\"v${NEO2_VERSION}\"/" docker/build-neo*.sh
          # waves
          WAVES_VERSION=$(curl -s https://api.github.com/repos/wavesplatform/Waves/releases | grep "tag_name" | grep "v1.3" | head -1 | awk '{print substr($2, 3, length($2)-4)}')
          echo waves=${WAVES_VERSION}
          sed -i "s/WAVES_VERSION=\".*/WAVES_VERSION=\"v${WAVES_VERSION}\"/" docker/build-waves*.sh
          # lisk
          LISK_VERSION=$(curl -s https://api.github.com/repos/LiskHQ/lisk-core/releases/latest | grep "tag_name" | awk '{print substr($2, 3, length($2)-4)}')
          echo lisk=${LISK_VERSION}
          sed -i "s/LISK_VERSION=\".*/LISK_VERSION=\"v${LISK_VERSION}\"/" docker/build-lisk*.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 
          commit-message: "update child-node versions"
          title: "Update child-node versions"
          reviewers: "lgray"
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: "bot-upgrade-child-nodes"
          body: |
            Updates to BTC, ETH, NEO, WAV, or LSK has been found.
